extends base

block content
    section.header
        .header__text
            h2.header__text--intro Experience the best adventures in the
            h1.header__text--hero Annapurna <br/>himalayas
            button(href="#section--1").btn-submit.btnToTrips Explore Adventures
            
    //- ALL ADVENTURES          
    section.section.section--1
        .section-heading#section--1 Most Popular Adventures
        .grid-container#section--trips
            .trips
                each trek in treks
                    .trip
                        img(class="trip__photo" src=`/img/${trek.imageCover}` alt=`${trek.name}`)
                        h4.trip__name #{trek.name} 
                        .trip__details
                            .trip__details--height
                                p: span(class="tripIcons"): <i class="fas fa-user-friends"></i> #{trek.elevation +'m'}
                            .trip__details--difficulty
                                p: span(class='tripIcons'): <i class='fas fa-hiking fa-lg'></i> #{trek.difficulty}
                            .trip__details--days
                                p: span(class="tripIcons"): <i class='fas fa-calendar-alt'></i> #{trek.duration + " Days"}
                            .trip__details--size
                                p: span(class="tripIcons"): <i class="fas fa-user-friends"></i> Min 5
                        .trip__details--info
                                p.trip__price From &euro; #{trek.price}
                                a(href=`/trek/${trek.id}` class="btn btn-trip") Details
    
    //-Gallery
    section.section.section--2
        .section-heading#section--2 Gallery
        .gallery
            figure.gallery__photos.gallery__photos--1
                img(src="img/gallery/suspended bridge-Pakding-Nepal.jpg" alt="suspended Bridge Phakding").gallery__photo
            figure.gallery__photos.gallery__photos--2
                img(src="img/gallery/Annapurna-Narchyang-Nepal.jpg" alt="Annapurna Narchyang Nepal" class="gallery__photo").gallery__photo
            figure.gallery__photos.gallery__photos--3
                img(src="img/gallery/Annapurna Peak and pass in the Himalaya mountains.jpg" alt="Annapurna Peak and pass in the Himalaya mountains" class="gallery__photo").gallery__photo
            figure.gallery__photos.gallery__photos--4
                img(src="img/gallery/Annapurna-Machapuchhare.jpg" alt="Annapurna Machapuchhare" class="gallery__photo").gallery__photo
            figure.gallery__photos.gallery__photos--5
                img(src="img/gallery/Near-Annapurna-Pokhara-Nepal.jpg" alt="Near-Annapurna-Pokhara-Nepal" class="gallery__photo").gallery__photo
            figure.gallery__photos.gallery__photos--6
                img(src="img/gallery/poonhill.jpg" alt="poonhill in Ghorepani" class="gallery__photo").gallery__photo
            figure.gallery__photos.gallery__photos--7
                img(src="img/gallery/village-nestled-in-annapurna.jpg" alt="Village Nestled in Annapurna" class="gallery__photo").gallery__photo
            figure.gallery__photos.gallery__photos--8
                img(src="img/gallery/waterfall-manang-nepal.jpg" alt="Waterfall in Manang" class="gallery__photo").gallery__photo
            figure.gallery__photos.gallery__photos--9
                img(src="img/gallery/mardi-himal-base-camp.jpg" alt="Mardi Himal Base Camp" class="gallery__photo").gallery__photo
            figure.gallery__photos.gallery__photos--10
                img(src="img/gallery/yellow-fewa-lake.jpg" alt="Yellow Fewa Lake" class="gallery__photo").gallery__photo
    
    //-Subsscription
    .section-heading#section--3 Your Adventure Begins
    section.section.booking
        .booking__container
            form.form
                h2.form__heading Newsletter
                .form__group
                    input(type="text" class="form__input"
                    placeholder="Full Name" id="name"
                    required)
                    label(for="name").form__label
                .form__group
                    input(
                        type="email"
                        class="form__input"
                        placeholder="Email Address"
                        id="email"
                        required)
                    label(for="email" class="form__label")
                .form__group
                    button.btn-submit sign me up !       
            
            
            


        



