extends base

block content 
    section.header
        img.header__herocover(src=`/img/hero/${trek.imageCover}`)
        .header__text
            //- h2.header__text--intro Experience the best adventures in the
            h1.header__text--trip= `${trek.name}`
            //- button(href="#section--1").btn-submit.btnToTrips Explore Adventures
    section.tripdetails
    .trip_info
        .trip_intro
            .trip_intro--name
                p= `${trek.name}`
            .trip_intro--summary
                p= `${trek.summary}`
            .trip_intro--description
                p= `${trek.description}`
        .trip__facts
            .trip__facts--title Quick facts
            .trip__facts--details
                .trek__facts--height 
                    p: span.trek_icons: <i class="fas fa-user-friends"></i> #{trek.elevation +'m'}
                .trek__facts--difficulty
                    p: span.trek_icons: <i class='fas fa-hiking fa-lg'></i> #{trek.difficulty}
                .trek__facts--days
                    p: span.trek_icons: <i class='fas fa-calendar-alt'></i> #{trek.duration + " Days"}
                .trek__facts--size
                    p: span.trek_icons: <i class="fas fa-user-friends"></i> #{"Max " + trek.maxGroupSize }

    section.trip__gallery
        each img in trek.images
            .trip__gallery--frame
                img.trip__gallery--photo(src=`/img/abc/${img}`, alt="")


    section
        I am just a new section
